
// Body
$body-bg: #eee;

// Typography
$font-family-sans-serif: "Open sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-blue: #1e3250;
$blue: #2086EB;
$indigo: #6574cd;
$purple: #544596;
$pink: #f66D9b;
$red: #e40613;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #12681B;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//navbar 
$navbar-height: 100px;
$navbar-logo-height: 45px;